*{	
	color: white;
	position: fixed;
	font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

body{
	background: #333333;
}

h1{
   width: 100%;

   top: 35px;

   font-size: 16px;
   text-align: center;
  
}

button {
	  border: 0;
	  border-radius: 30px;
	  width: 258px;
    height: 60px;
    left: 51px;
    text-align: left;
    padding-left: 2rem ;
    font-size: 20px;
}

button:hover{
	  -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}

a{
	text-decoration: none;
	line-height: .3rem;
}

#whatsapp {
	  top: 82px;
    background: linear-gradient(270deg, #FEFFFE 2.33%, rgba(37, 211, 102, 0.928962) 100%);
}

#instagram {
    top: 169px;
    background: linear-gradient(270deg, rgba(253, 29, 29, 0.960675) 0%, rgba(225, 48, 108, 0.960675) 34.19%, rgba(193, 53, 132, 0.928962) 46.17%, rgba(131, 58, 180, 0.928962) 59.92%, rgba(91, 81, 216, 0.928962) 71.91%, #405DE6 93.2%);    
}

#linkedin {
    top: 256px;
    background: linear-gradient(270deg, #FAFDFF 0%, #0077B5 100%); 
}

#telegram {
    top: 343px;
    background: linear-gradient(270deg, #FAFDFF 0%, #0088CC 100%);
}

#github {
    top: 430px;
    background: linear-gradient(270deg, #FAFDFF 0%, #333333 100%);
}

footer{
   top: 515px;
   width: 100%;

   font-size: 16px;
   text-align: center;
}
