*{	
	color: white;
	position: fixed;
	font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1420px){

body{
  background: #333333;
 
  
  margin-top: 10%;
}

h1{
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   font-size: 16px;
   top: 60px;
}

button {
    border: 0;
    border-radius: 30px;
    width: 258px;
    height: 60px;
   
    text-align: left;
    padding-left: 2rem ;
    font-size: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.7);

    animation-name: btn-button;
}

a{
  text-decoration: none;
  line-height: .3rem;
}

#whatsapp {
    top: 122px;
    background: linear-gradient(270deg, #FEFFFE 2.33%, rgba(37, 211, 102, 0.928962) 100%);
}
#whatsapp:hover{
      background: rgba(37, 211, 102, 0.928962);
}

#instagram {
    top: 209px;
    background: linear-gradient(270deg, rgba(253, 29, 29, 0.960675) 0%, rgba(225, 48, 108, 0.960675) 34.19%, rgba(193, 53, 132, 0.928962) 46.17%, rgba(131, 58, 180, 0.928962) 59.92%, rgba(91, 81, 216, 0.928962) 71.91%, #405DE6 93.2%);    
}
#instagram:hover{
    background:  rgba(225, 48, 108, 0.960675);    

}
#linkedin {
    top: 296px;
    background: linear-gradient(270deg, #FAFDFF 0%, #0077B5 100%); 
}
#linkedin:hover{
   background:  #0077B5;
}

#telegram {
    top: 383px;
    background: linear-gradient(270deg, #FAFDFF 0%, #0088CC 100%);
}
#telegram:hover{
  background: #0088CC;
}

#github {
    top: 470px;
    background: linear-gradient(270deg, #FAFDFF 0%, #333333 100%);
}
#github:hover{
  background: #333333;
}

footer{
   top: 530px;

   font-size: 16px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
}
